.login-container {
    background-color: #292929; /* Fondo oscuro */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 70px rgba(0, 0, 0, 0.3);
    width: 700px; 
    margin: 10px;
}

#center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
}

#img1 {
    width: 120px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    transform: translateY(-60px); 
    border-radius: 50%; 
}

#img2 {
    width: 90px;
    margin-right: 50px;
}

.half-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 100px;
    margin-top: 20px;
}

#img3 {
    width: 90px;
    margin-right: 50px;
}

input[type="text"],
input[type="password"] {
    width: 70%;
    padding: 10px;
    border: 1px solid #444444; /* Bordes oscuros */
    border-radius: 4px;
    font-size: 16px;
    padding: 18px;
    background-color: #1e1e1e; /* Fondo de input oscuro */
    color: #ffffff; /* Texto blanco */
}

select {
    width: 53%;
    padding: 10px;
    border: 1px solid #444444; /* Bordes oscuros */
    border-radius: 4px;
    font-size: 16px;
    padding: 18px;  
    background-color: #1e1e1e; /* Fondo de select oscuro */
    color: #ffffff; /* Texto blanco */
}

button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #3a3a3a; /* Fondo del botón */
    color: white; /* Texto blanco */
    border: none;
    border-radius: 40px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 30px;
}

button:hover {
    background-color: #505050; /* Fondo del botón en hover */
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #f5f5f5; /* Texto claro */
}

label {
    color: #ffffff; /* Texto claro para etiquetas */
}

p {
    text-align: center;
    color: #cccccc; /* Texto gris claro */
    margin: 20px;
}

a {
    color: #007bff; /* Azul */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
/* Estilos del modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #292929; /* Fondo oscuro del formulario */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.4);
    width: 400px;
    max-width: 90%;
    color: #f5f5f5;
    text-align: center;
}

.modal-content h3 {
    color: #f5f5f5;
    margin-bottom: 20px;
}

.modal-content label {
    color: #ffffff;
    display: block;
    margin-top: 10px;
    text-align: left;
}

.modal-content input[type="text"],
.modal-content input[type="password"],
.modal-content select {
    width: 100%;
    padding: 10px;
    border: 1px solid #444444;
    border-radius: 4px;
    font-size: 16px;
    margin-top: 5px;
    background-color: #1e1e1e;
    color: #ffffff;
}





