<app-artist-header></app-artist-header>
<div class="form-container">
    <form action="" id="form-create">
        <div id="create-playlist">
            <label for="playlist-name">INSERT NAME TO SONGS</label>
            <input type="text" id="playlist-name" name="playlist-name" placeholder="Enter playlist name">

            <label for="playlist-description">INSERT TO DURATION</label>
            <input type="number" id="playlist-description" name="playlist-description" placeholder="Enter playlist duration">

            <label for="fecha">FECHA</label>
            <input type="date" id="fecha" name="fecha">
            <label for="album">ALBUM</label>
            <input type="text" id="fecha" name="fecha">

            <label for="tipo">GENERO</label>
            <select id="tipo" name="tipo">
                <option value="PUBLIC">POP</option>
                <option value="PRIVATE">ROCK</option>
                <option value="PUBLIC">REGUETON</option>
                <option value="PRIVATE">CLASIC</option>
                <option value="PUBLIC">ELECTRONIC</option>
                <option value="PRIVATE">BACHATA</option>
            </select>
        </div>    
        <button id="btn_create">CREATE SONGS</button>

    </form>
</div>
