<div class="form-container">
    <button class="create-button">Create to playlist</button>
    <form action="" id="form-create">
        <div id="create-playlist">
            <label for="playlist-name">INSERT NAME TO PLAYLIST</label>
            <input type="text" id="playlist-name" name="playlist-name" placeholder="Enter playlist name">

            <label for="playlist-description">INSERT DESCRIPTION TO PLAYLIST</label>
            <input type="text" id="playlist-description" name="playlist-description" placeholder="Enter playlist description">

            <label for="fecha">FECHA</label>
            <input type="date" id="fecha" name="fecha">

            <label for="tipo">Tipo</label>
            <select id="tipo" name="tipo">
                <option value="PUBLIC">PUBLIC</option>
                <option value="PRIVATE">PRIVATE</option>
            </select>
        </div>    
        <button id="btn_create">BUILD PLAYLIST</button>

    </form>
</div>
