<app-user-header></app-user-header>
<div id="container">
    <h3>Your Songs</h3>
    <div id="songs">
        <p>Songs:</p>
        <div id="play">
            <div *ngFor="let song of Mysongs">
                <div>
                    <p><strong>Title:</strong> {{ song.titulo }}</p>
                    <p><strong>Genre:</strong> {{ song.genero }}</p>
                    <p><strong>Duration:</strong> {{ song.duracion }}</p>
                </div>
                <button (click)="openPlaylistModal(song.id)">Add to Playlist</button>
                <button (click)="viewSongDetails(song)">View Song</button>
            </div>
        </div>
    </div>

    <div *ngIf="playlists.length === 0">
        <p>You have no playlists. Please create one to add songs.</p>
    </div>

    <div *ngIf="selectedSong">
        <h4>Song Details</h4>
        <p><strong>Title:</strong> {{ selectedSong.titulo }}</p>
        <p><strong>Album:</strong> {{ selectedSong.album }}</p>
        <p><strong>Genre:</strong> {{ selectedSong.genero }}</p>
        <p><strong>Duration:</strong> {{ selectedSong.duracion }}</p>
        <button (click)="selectedSong = null">Close</button>
    </div>

    <!-- Modal for selecting playlist -->
    <div *ngIf="showPlaylistModal" id="modal">
        <div id="modal-content">
            <h4>Select Playlist</h4>
            <select [(ngModel)]="selectedPlaylistId">
                <option value="" disabled selected>Select a Playlist</option>
                <option *ngFor="let playlist of playlists" [value]="playlist.id">{{ playlist.nombre }}</option>
            </select>
            <button (click)="confirmAddToPlaylist()">Add</button>
            <button (click)="closePlaylistModal()">Cancel</button>
        </div>
    </div>
</div>
